.home-footer-div-full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.home-footer-div-mobile {
  width: 100%;
  background-color: rgb(243, 244, 245);
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 10;
}
