.home-outer-div {
  overflow-y: scroll;
}

.inline-table-extra {
  padding-left: 4%;
  color: rgb(161, 161, 161);
}

.crypto-icon {
  width: 15px;
  float: left;
  padding-right: 0.5vw;
}

.table-name {
  display: inline;
  font-size: 16px;
}

.table-select-ticker {
  text-decoration: none;
  color: black;
}

.table-select-ticker:hover {
  text-decoration: none;
  color: rgb(52, 52, 255);
}

.circ-supp-div {
  height: 65px;
  overflow-y: hidden;
  overflow-x: visible;
}

.MuiTableRow-root.MuiTableRow-hover:hover .MuiSlider-track {
  color: rgb(52, 52, 255);
}

.MuiTableRow-root.MuiTableRow-hover:hover
  .MuiSlider-thumb.MuiSlider-thumbColorPrimary.Mui-disabled {
  color: rgb(52, 52, 255);
}

#red {
  color: red;
}

#green {
  color: green;
}

#redGraph {
  filter: invert(53%) sepia(54%) saturate(6847%) hue-rotate(345deg)
    brightness(99%) contrast(98%);
  border: 1px solid black;
}

#greenGraph {
  filter: invert(77%) sepia(78%) saturate(1584%) hue-rotate(59deg)
    brightness(97%) contrast(101%);
  border: 1px solid black;
}
