.header-right-side {
    width: 87vw;
    font-size: 1.2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1vw;
}

#header-a-links {
    font: Georgia;
    text-decoration: none;
    color: rgb(52, 59, 59);
    margin-right: 2vw;
}

#header-a-links:hover {
    color: rgb(99, 101, 209);
}

.header-far-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-signup {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;

    margin-right: 3vw;

    text-decoration: none;
    background-color: rgb(99, 101, 209);
    color: white;
    border-radius: 8px;
}

.header-signup:hover {
    color: rgb(52, 59, 59);
    background-color: rgb(180, 182, 248);
}