.mobile-drawer-x {
  float: right;
}

.ticker-info-div {
  width: min(24vw, 300px);
  float: right;
  max-height: 190vh;
  overflow-y: scroll;
}

.mobile-drawer-toggle-div {
  height: 3vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  border-radius: 5px 5px 0 0;
}
