.header-landscape {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.header-logo {
    filter: invert(100%);
    margin-top: 5px;
    margin-left: 2vw;
    height:40px;
}

#landscape-ticker-search {
    width: 25vw;
    float: right;
    height:20px;
    margin-top: 12px;
    margin-right:2.5vw;
}

.header-about {
    float: right;
    text-decoration: none;
    color: white;
    padding-right: 3vw;
    padding-top: 10px;
}

.header-about div {
    background-color: rgb(73, 73, 255);
    padding: 5px 5px 5px 5px;
    border-radius: 20%;
}

.header-about div:hover {
    background-color: rgb(195, 195, 255);
    color: black;
}

.header-about div:active {
    background-color: #eee;
}







.header-portrait {
    width: 100vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.header-logo-portrait {
    filter: invert(100%);
    margin-top: 0.5vh;
    margin-left: 2vw;
    height:4vh;
}

.header-search {
    height: 3vh;
    float: right;
    margin-top: 1vh;
    margin-right: 3vw;
}

#portrait-ticker-search {
    display: none;
    float: right;
    height: 3vh;
    margin-top: 0.5vh;
    width: 40vw;
    margin-right: 1vw;
}

.header-about-portrait {
    float: right;
    text-decoration: none;
    color: white;
    padding-right: 3vw;
    padding-top: 0.6vh;
}

.header-about-portrait div {
    background-color: rgb(73, 73, 255);
    padding: 5px 5px 5px 5px;
    border-radius: 20%;
}

.header-about-portrait div:hover {
    background-color: rgb(195, 195, 255);
    color: black;
}

.header-about-portrait div:active {
    background-color: #eee;
}
