.crypto-icon {
  width: 40px;
  float: left;
  padding-right: 0.5vw;
  margin-right: 5px;
}

.table-atag h4:hover {
  color: RGB(153, 153, 153);
}

#red {
  color: RGB(251, 71, 43);
}

#green {
  color: RGB(61, 132, 1);
}

.crypto-graph {
  min-width: 170px;
}

#red-crypto-graph {
  filter: invert(36%) sepia(99%) saturate(7458%) hue-rotate(354deg)
    brightness(85%) contrast(102%);
}

#green-crypto-graph {
  filter: invert(77%) sepia(78%) saturate(1584%) hue-rotate(59deg)
    brightness(97%) contrast(101%);
}

.home-preview thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

.home-preview tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
}
