.footer-outer-div {
  color: white;
  background: rgb(2, 0, 36);
  background: rgb(147, 0, 255);
  background: linear-gradient(
    90deg,
    rgba(147, 0, 255, 1) 0%,
    rgba(0, 144, 255, 1) 100%
  );
  padding-top: -5vw;
  padding-bottom: 30px;
}

.footer-outer-div h4 {
  min-height: 20px;
  margin-left: 5vw;
}

.footer-div {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;

  border-bottom: 1px solid white;
}

.footer-div a {
  text-decoration: none;
  color: white;
}

.footer-div h2 {
  margin: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-div h4 {
  margin: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-div ul {
  text-decoration: none;
  text-indent: none;
  list-style-type: none;
  margin-bottom: 20px;
}
