.mobile-news-div h5 {
  margin: 0;
}

.news-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border-bottom: 1px solid #dadce0;
  overflow: hidden;
  margin-left: 12px;
}

.news-large {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  padding-bottom: 30px;
}

.news-side {
  grid-column: 3 / span 1;
  position: relative;
}

.news-remainder {
  position: relative;
}
