.news-div-block {
  width: 90%;
  margin: 4.5%;
  border: 1px solid RGB(153, 153, 153);
  border-radius: 0 15px 0 0;
  min-height: 200px;
}

#news-div-top {
  display: block;
  width: 90%;
  height: 25px;
  padding-left: 8px;
}

.news-sentiment {
  float: right;
  margin: 0;
  margin-top: 4px;
  margin-right: 5px;
  font-size: 14px;
  font-weight: 450;
}

.news-outer-div h3 {
  font-weight: 600;
}

.news-outer-div h4 {
  font-weight: 400;
}

.news-outer-div h5 {
  font-weight: 400;
}
